.sort-bar {
    display: flex;
    justify-content: space-between;
    background: #020002;
    padding: 10px;
    gap: 5px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.sort-bar button {
    flex: 1;
    background: #37003c;
    color: white;
    border: none;
    padding: 8px 2px;
    border-radius: 4px;
    font-size: 0.75rem;
    cursor: pointer;
    font-weight: bold;
}

.sort-bar button:active {
    background: #00ff87;
    color: #37003c;
}

.player-card {
    display: flex;
    align-items: center;
    background: #111;
    margin: 8px;
    padding: 15px;
    border-radius: 10px;
    border-left: 5px solid #00ff87;
    color: white;
}

.stats-grid b {
    color: #00ff87;
    font-size: 0.95rem;
}
